<header>
  <div class="logo">
    <a routerLink="/">Pastelería "El Dulce Sabor"</a>
  </div>
  <nav class="desktop-nav">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/cart">Carrito</a></li>
      @if (!authService.isAuthenticated()) {
        <li><a routerLink="/login">Iniciar Sesión</a></li>
      } @else {
        <li><a routerLink="/profile">Perfil</a></li>
        <li><a routerLink="/inventory">Inventario</a></li>
        <li><a (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a></li>
      }
    </ul>
  </nav>
  <button class="mobile-menu-button" (click)="toggleMobileNav()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12" />
      <line x1="3" y1="6" x2="21" y2="6" />
      <line x1="3" y1="18" x2="21" y2="18" />
    </svg>
  </button>
</header>

@if (mobileNavOpen()) {
  <app-mobile-nav (close)="toggleMobileNav()"></app-mobile-nav>
}
